@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;900&family=Roboto:wght@400;900&display=swap');

body {
  background: #141414;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.postbody {
  width: 796.88px;
}

/* EXP */

.exp-body {
  box-sizing: border-box;
  margin: 25px auto;
  background: rgba(16, 16, 16, 1);
  width: 790px;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* LEFT SIDE */

.exp-body > .left-side {
  background: rgba(14, 14, 14, 0.75);
  position: relative;
  overflow: hidden;
}

/* RIGHT SIDE */

.exp-body > .right-side {
  background: url('https://cdna.artstation.com/p/assets/images/images/024/221/404/large/pontyk-vcccc-r-3333-ek.jpg?1581695417');
  box-shadow: inset 0 0 0 395px rgba(16, 16, 16, 0.85);
  background-size: cover;
  background-position: center center;
  position: relative;
  border-left: 2px solid rgba(14, 14, 14, 0.75);
}

/* MENU */

.exp-body > .left-side > .menu {
  width: 345px;
  padding-left: 50px;
  padding-top: 50px;
}

.exp-body > .left-side > .menu > .item {
  position: relative;
  overflow: hidden;
}

.exp-body > .left-side > .menu > .item:after {
  content: '';
  display: block;
  width: 150px;
  height: 1px;
  background: rgba(34, 51, 59, 1);
  position: absolute;
  top: 17px;
  right: 50px;
  z-index: 10;
  transition: all ease-in 0.35s;
}

.exp-body > .left-side > .menu > .item:hover:after {
  right: 120px;
  background: rgba(217, 93, 57, 1);
}

.exp-body > .left-side > .menu > .item:hover > span {
  color: rgba(217, 93, 57, 1);
}

.exp-body > .left-side > .menu > .item > span {
  z-index: 100;
  background: #0e0e0e;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: rgba(34, 51, 59, 1);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  position: relative;
  padding: 0 10px;
  transition: all ease 0.35s;
}

/* CONTENT */

.exp-body > .left-side > .content {
  width: 320px;
  height: 240px;
  margin: 50px 50px 0;
  background: rgba(16, 16, 16, 1);
  outline: 2px solid rgba(14, 14, 14, 0.75);
  outline-offset: -10px;
  padding: 20px;
}

.exp-body > .left-side > .content > .cnt {
  text-align: justify;
  color: rgba(34, 51, 59, 1);
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  height: 200px;
  overflow-y: auto;
  border-top: 20px solid rgba(16, 16, 16, 1);
  border-bottom: 20px solid rgba(16, 16, 16, 1);
  border-right: 20px solid rgba(16, 16, 16, 1);
  padding-left: 20px;
  padding-right: 20px;
  transition: all ease 0.5s;
  position: absolute;
}

.exp-body > .left-side > .content > .cnt > .title {
  font-family: 'Jost', sans-serif;
  color: rgba(217, 93, 57, 1);
  font-weight: 900;
  font-size: 25px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.exp-body > .left-side > .content > .cnt::-webkit-scrollbar {
  width: 5px;
}

.exp-body > .left-side > .content > .cnt::-webkit-scrollbar-thumb {
  background: rgba(14, 14, 14, 1);
}

.exp-body > .left-side > .content > .cnt::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 1);
}

/* HELPERS */

.mn-active > span {
  color: rgba(217, 93, 57, 1) !important;
}

.af-active::after {
  right: 120px !important;
  background: rgba(217, 93, 57, 1) !important;
}

.cnt-hidden {
  opacity: 0;
}
